@model DetailsBookModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
</style>

<div class="row">
    <div class="col-lg-12">
        <span class="title-details">@Model.Title</span> <span class="author-details">by @(string.Join(", ", Model.Authors))</span>
    </div>
</div>
<hr class="mt-0" />

@{
    var allAuthors = Model.Authors.Length > 1 ? "Authors: " : "Author: ";
    var allCategories = Model.Categories.Length > 1 ? "Categories: " : "Category: ";
}

<div id="details-first" class="row">
    <div class="col-lg-3 col-md-3 col-xs-3 col-sm-4 col-2">
        <img id="img-details" class="img-fluid" src="/@Model.Img" />
    </div>
    <div class="col-lg-6 col-md-6 col-xs-5 col-sm-8 col-5">
        <div class="row mb-3 mx-auto">
            <h3 style="display:inline-block">Overview</h3>
            <div class="scrollbar" id="style-3">
                <p id="description-pharagraph" class="text-justify">@Model.Description</p>
            </div>
        </div>
        <div class="row withouth-margin mb-3">
            <h4>Details</h4>
            <hr style="width:100%" class="details-hr mt-0" />
            <div class="mr-5 details-div">
                <strong>@allAuthors</strong> 
                @foreach (var author in Model.Authors)
                {
                    var authorName = author.Replace(" ", "_");
                    <a href="/authors/details?name=@authorName">@author</a>
                }
            </div>

            <div class="mr-5 details-div">
                <strong>@allCategories</strong> @(string.Join(", ", Model.Categories))
            </div>
            <hr style="width:100%" class="details-hr" />
            <div class="mr-5 details-div">
                <strong>Isbn: </strong> @Model.Isbn
            </div>
            <div class="mr-5 details-div">
                <strong>Release Date: </strong> @Model.ReleaseDate
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-xs-2 col-sm-12 col-2">
        <div class="row withouth-margin mb-4" style=" border:2px solid darkslategray; border-radius:10px; width:100%">
            <div class="row mb-2 mx-auto mt-3 w-100">
                <h3 class="mx-auto">$@Model.Price</h3>
            </div>
            <div class="row mb-2 mx-auto w-100">
                <span class="mx-auto">Free Shipping</span>
            </div>
            <div class="row mb-3 mx-auto w-100">
                <a href="#" class="btn mx-auto" style="background-color:darkslategray" role="button"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
            </div>
        </div>
        <div class="row mt-2 mx-auto" style=" border:2px solid darkslategray; border-radius:10px;">
            <div class="row mb-2 mx-auto mt-3 w-100">
                <h5 class="mx-auto">Average Rating</h5>
            </div>
            <div class="row mx-auto mb-2 w-100">
                <span class="font-size-span mx-auto">0</span>
            </div>
            <div class="row mx-auto mb-2 w-100">
                <ul class="product-caption-rating pass-rating mx-auto">
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                </ul>
            </div>
            <div class="row mb-3 mx-auto w-100">
                <a href="#" class="btn mx-auto btn-primary tex-white" role="button"><i class="far fa-comment-alt"></i> Write a Review</a>
            </div>
        </div>
    </div>
</div>

<div id="details-second" class="row">
    <div class="col-lg-3 col-md-3 col-xs-3 col-sm-4 col-12">
        <img id="img-details" class="img-fluid" src="/@Model.Img" />
    </div>
    <div class="col-lg-6 col-md-9 col-xs-5 col-sm-8 col-12">
        <div class="row mb-3 mx-auto">
            <h3 style="display:inline-block">Overview</h3>
            <div class="scrollbar" id="style-3">
                <p id="description-pharagraph" class="text-justify">@Model.Description</p>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-12 mt-3">
        <div class="row withouth-margin mb-3">
            <h4>Details</h4>
            <hr style="width:100%" class="details-hr mt-0" />
            <div class="mr-5 details-div">
                <strong>@allAuthors</strong>
                @(string.Join(", ", Model.Authors)) 
            </div>

            <div class="mr-5 details-div">
                <strong>@allCategories</strong> @(string.Join(", ", Model.Categories))
            </div>
            <hr style="width:100%" class="details-hr" />
            <div class="mr-5 details-div">
                <strong>Isbn: </strong> @Model.Isbn
            </div>
            <div class="mr-5 details-div">
                <strong>Release Date: </strong> @Model.ReleaseDate
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-12 col-xs-2 col-sm-12 col-12">
        <div class="row">
            <div class="col-sm-5 col-md-5 mx-auto mb-3 col-10 mx-auto" style=" border:2px solid darkslategray; border-radius:10px; width:100%">
                <div class="row mb-2 mx-auto mt-3 w-100">
                    <h3 class="mx-auto">$@Model.Price</h3>
                </div>
                <div class="row mb-2 mx-auto w-100">
                    <span class="mx-auto">Free Shipping</span>
                </div>
                <div class="row mb-3 mx-auto w-100">
                    <a href="#" class="btn mx-auto" style="background-color:darkslategray" role="button"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>
            <div class="col-sm-5 col-md-5 mx-auto mb-3 col-10" style=" border:2px solid darkslategray; border-radius:10px;">
                <div class="row mb-2 mx-auto mt-3 w-100 my-auto">
                    <h5 class="mx-auto">Average Rating</h5>
                </div>
                <div class="row mx-auto mb-2 w-100 my-auto">
                    <span class="font-size-span mx-auto">0</span>
                </div>
                <div class="row mx-auto mb-2 w-100">
                    <ul class="product-caption-rating pass-rating mx-auto my-auto">
                        <li><i class="far fa-star"></i></li>
                        <li><i class="far fa-star"></i></li>
                        <li><i class="far fa-star"></i></li>
                        <li><i class="far fa-star"></i></li>
                        <li><i class="far fa-star"></i></li>
                    </ul>
                </div>
                <div class="row mb-3 mx-auto w-100">
                    <a href="#" class="btn mx-auto btn-primary tex-white" role="button"><i class="far fa-comment-alt"></i> Write a Review</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mx-3 my-5">
    <div class="col-lg-12 mx-auto">
        <h3 class="index-color-slider-text">You Might Also Enjoy</h3>
        <hr class="hr-2 index-color-slider-bg" />
        <div id="slider-details" class="my-5">

        </div>
    </div>
</div>

<script src="~/js/setting-slick.js"></script>

<style>
    .scrollbar {
        height: 200px;
        width: 100%;
        overflow-y: scroll;
        border: 2px solid darkslategray;
        border-radius: 5px;
    }

    #style-3::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: darkslategray;
    }

    #style-3::-webkit-scrollbar {
        width: 3px;
        background-color: darkslategray;
    }

    #style-3::-webkit-scrollbar-thumb {
        background-color: gray;
    }

    #img-details {
        /*width: 90%;*/
        height: 100%;
    }

    .details-div {
        overflow: hidden;
        letter-spacing: 1px;
    }

    .details-hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }


    #description-pharagraph {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }

    .withouth-margin {
        margin-left: 0px;
        margin-right: 0px;
    }

    ul.product-caption-rating.pass-rating > li {
        color: black;
        font-size: initial;
    }

    .withouth-margin div > span {
        font-size: 16px;
        font-weight: bold;
    }

    .font-size-span {
        font-size: 20px;
        font-weight: bold;
    }
</style>
